body {
  font-family: monospace;
  background: #D91E2A;
  height: 100vh;
  margin: 0;
}

.unauth {
  position: relative;
  top: 24vh;
  background: #fff;
  max-width: 656px;
  margin: auto;
  padding: 16px 32px;
  box-shadow: 1px 2px 6px #000;
}

.g {
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20width%3D%22560%22%20height%3D%22441.1%22%3E%3Cstyle%3E.style0%7Bfill%3A%09%23111111%3B%7D%3C/style%3E%3Cdefs/%3E%3Cmetadata%3E%3Crdf%3ARDF%3E%3Ccc%3AWork%20rdf%3Aabout%3D%22%22%3E%3Cdc%3Aformat%3Eimage/svg+xml%3C/dc%3Aformat%3E%3Cdc%3Atype%20rdf%3Aresource%3D%22http%3A//purl.org/dc/dcmitype/StillImage%22/%3E%3Cdc%3Atitle/%3E%3C/cc%3AWork%3E%3C/rdf%3ARDF%3E%3C/metadata%3E%3Cg%3E%3Cpath%20d%3D%22m151%20440.5c0%20-0.5%200.7%20-2.9%201.5%20-5.3%201.5%20-4.3%204%20-7.6%2015.1%20-19.8%208.1%20-8.9%2010.2%20-14.8%208.4%20-24.2%20-0.7%20-3.6%20-2.3%20-9.7%20-3.6%20-13.6%20-2.7%20-8.1%20-6.2%20-28.2%20-7%20-40.5%20-0.7%20-10.1%20-3%20-24%20-4.8%20-29.2%20-1.6%20-4.5%20-5.4%20-8.8%20-7.8%20-8.8%20-1.2%200%20-2.1%20-1.2%20-2.8%20-3.9%20-0.6%20-2.2%20-1.5%20-4.1%20-2.1%20-4.3%20-0.6%20-0.2%20-1.2%20-3.8%20-1.4%20-8.2%20-0.2%20-5.3%20-0.8%20-8.4%20-1.9%20-9.6%20-0.9%20-1%20-1.6%20-2.5%20-1.6%20-3.4%200%20-1.8%20-3.8%20-5.7%20-5.6%20-5.7%20-0.7%200%20-1.5%201.5%20-1.9%203.2l-0.7%203.2%20-1.5%20-4c-0.8%20-2.2%20-2%20-10.8%20-2.5%20-19%20-0.9%20-12.4%20-1.5%20-16%20-3.6%20-21%20-3.3%20-7.6%20-7%20-13.2%20-14.1%20-21.5%20-3.1%20-3.6%20-6.7%20-8.2%20-8.1%20-10.2%20-2.8%20-4.2%20-3.7%20-4.6%20-4.2%20-2%20-0.2%201.3%20-1.3%200.4%20-3.7%20-3.2%20-4.5%20-6.7%20-7.5%20-9.4%20-10.9%20-10.1%20-2.3%20-0.5%20-3.2%20-0.1%20-4.5%202%20-2%203.1%20-4.1%203.5%20-3.2%200.6%200.4%20-1.1%200.2%20-2%20-0.4%20-2%20-0.6%200%20-1.1%20-0.9%20-1.1%20-2%200%20-3%20-2.7%20-2.4%20-3.3%200.8%20-0.3%201.5%20-1.1%203.4%20-1.6%204.2%20-0.9%201.3%20-1.1%201.3%20-2%200%20-0.5%20-0.8%20-1%20-3.2%20-1%20-5.2%20-0%20-2.1%20-0.5%20-3.8%20-1.1%20-3.8%20-0.7%200%20-0.9%20-1.4%20-0.5%20-4.3%200.5%20-3.6%200.3%20-4.5%20-1.4%20-5.7%20-1.5%20-1.1%20-2%20-2.6%20-2%20-6.2%200%20-4%20-0.3%20-4.8%20-2.2%20-5.4%20-2.7%20-0.9%20-6.8%203.7%20-6.8%207.7%20-0%204.5%20-1%205.9%20-3.6%205.2%20-2.4%20-0.6%20-2.4%20-0.5%20-2.4%206.9%200%206%20-0.4%208%20-2%2010%20-1.1%201.4%20-2%203%20-2%203.6%200%200.6%20-0.5%201.1%20-1%201.1%20-0.6%200%20-1%20-0.9%20-1%20-1.9%200%20-1.2%20-0.9%20-2.1%20-2.5%20-2.5%20-1.8%20-0.4%20-2.7%20-1.5%20-3.1%20-3.6%20-0.3%20-1.6%20-1.1%20-3%20-1.8%20-3%20-1.5%200%20-3%20-9.9%20-2.8%20-18.2%200.1%20-5.3%20-0%20-5.7%20-2.4%20-6.3%20-1.4%20-0.3%20-5.1%20-0.3%20-8.2%200%20-5.5%200.6%20-5.8%200.5%20-11.7%20-3.8%20-9.2%20-6.8%20-10.4%20-8.7%20-10.4%20-16.7%200%20-6%200.4%20-7.3%203.6%20-12.2%202%20-3%204.8%20-6.2%206.3%20-7.1%205%20-3%2010.2%20-8.9%2018.4%20-20.6%209.3%20-13.2%209.9%20-14.2%2012.6%20-19.1%202.7%20-4.9%2012.9%20-14.4%2017.1%20-16%203.4%20-1.3%207.9%20-5.5%208%20-7.5%200.1%20-2.6%2010.9%20-15.1%2016.4%20-19%209%20-6.4%2021.6%20-17.5%2023.7%20-21%201%20-1.6%201.9%20-4%201.9%20-5.1%200%20-3.3%202.4%20-4.8%204.4%20-2.8%202.9%202.9%201.8%207.5%20-4.8%2019.5%20-3.5%206.3%20-6.1%2011.8%20-5.7%2012.2%200.4%200.4%204.8%20-0.6%209.9%20-2.2%205.1%20-1.6%2011.2%20-3%2013.6%20-3%203.4%200%205.6%20-0.8%209.6%20-3.5%206.2%20-4.1%208%20-4.4%208%20-1.1%200%205.3%20-9.8%2012.4%20-28%2020.1%20-9.4%204%20-18.5%2013.2%20-17.3%2017.4%201.1%203.8%203.1%206.5%207.2%209.6%202.4%201.8%204.8%203.1%205.4%202.7%200.5%20-0.3%207.4%20-0.9%2015.1%20-1.3%207.8%20-0.4%2014.9%20-1.1%2015.9%20-1.5%201.5%20-0.7%201.8%20-0.2%201.8%203.3%200%204.8%20-2.6%208.2%20-12.5%2016.2%20-3.5%202.8%20-6.7%205.9%20-7%206.8%20-0.4%201.1%200.9%203%204.3%206.1%202.7%202.5%206.2%206.4%207.7%208.7%201.5%202.3%204.2%205.1%205.9%206.1%201.7%201%205.6%203.9%208.6%206.3%203%202.4%209.1%207.1%2013.5%2010.4l8%206%2010.5%20-0.1c5.8%20-0.1%2016.1%20-1%2022.9%20-2.2%2011.3%20-1.9%2013.7%20-2%2027.8%20-1%2011.8%200.8%2017.8%200.8%2025.6%20-0.2%205.6%20-0.7%2014.3%20-1.6%2019.2%20-2%205%20-0.4%2012.8%20-1.7%2017.5%20-2.9%204.7%20-1.2%2011.2%20-2.6%2014.5%20-3.1%2013.6%20-2.3%2025.6%20-4.9%2043%20-9.6%2022.6%20-6%2039.6%20-7.9%2058.6%20-6.6%2012.6%200.9%2014.5%201.4%2026.1%206.9%205.7%202.7%2011%204.5%2031.4%2010.8%204%201.2%209.1%201.8%2015.5%201.9%209.1%200%209.9%20-0.2%2018%20-4%208.8%20-4.2%2016.4%20-9.2%2023.8%20-15.6%202.4%20-2%205.7%20-4%207.5%20-4.4%201.7%20-0.4%203.9%20-1.2%204.9%20-1.8%202.8%20-1.7%203.2%20-0.1%202.1%207.1%20-0.6%204.2%20-0.7%207.2%20-0.1%207.9%200.6%200.8%200.2%202.7%20-1.1%205.4%20-1.1%202.3%20-2.1%204.9%20-2.1%205.6%200%200.7%20-0.5%201.3%20-1%201.3%20-0.6%200%20-1.7%201.5%20-2.6%203.4%20-1.1%202.3%20-3.6%204.6%20-7.9%207.1%20-5.3%203.1%20-6.3%204.1%20-6.8%207%20-0.6%203.8%20-3.3%208.2%20-8.9%2014.3%20-3.1%203.5%20-4.5%204.2%20-8.8%204.8%20-5.3%200.7%20-7%202.5%20-6.6%207%200.1%201.3%20-0.9%202.2%20-3.3%203%20-4.6%201.5%20-7.2%206.3%20-6.4%2011.6%200.4%202.3%200.2%203.8%20-0.4%203.8%20-2.9%200%20-1.7%206.3%203.2%2016%201.8%203.6%202.3%205.7%201.9%208.4%20-0.5%202.8%200.1%204.9%202.6%209.8%202.6%204.9%203.5%208.5%204.7%2017.6%201.1%208.8%201.2%2011.7%200.3%2012.8%20-1.5%201.8%201.5%2015.3%203.8%2017.2%200.9%200.7%201.2%201.9%200.9%202.9%20-0.4%201%200%202.2%201.1%203%201%200.7%201.8%202.1%201.8%203.1%200%201.1%203.2%204.2%207.8%207.7%204.3%203.2%208.2%206.8%208.6%208%200.4%201.2%201.6%206.9%202.5%2012.7%202%2012.2%206.6%2024.8%2012.4%2034%202.3%203.6%204.5%207.4%205.1%208.5%205.2%2011.2%208.4%2019.6%209.5%2025.2%201.5%207.6%205.4%2017.1%207.9%2019.1%202.2%201.8%202.2%207.1%200%207.1%20-0.9%200%20-3.4%200.5%20-5.5%201.2%20-3.4%201%20-4.3%202%20-6.8%207.2l-2.9%206.1%20-8.3%201.3c-16.4%202.5%20-17.7%202.6%20-19.3%201.3%20-1.9%20-1.5%20-1.2%20-3%204.9%20-10%205.6%20-6.6%209.8%20-15.2%209.8%20-20.5%200.1%20-7.5%20-11.7%20-35.7%20-17.3%20-41.4%20-1.4%20-1.4%20-4.6%20-6%20-7.2%20-10.1%20-2.6%20-4.1%20-8.6%20-11.8%20-13.5%20-17.1%20-4.9%20-5.3%20-10.5%20-11.5%20-12.5%20-13.9%20-2%20-2.4%20-5.8%20-6.1%20-8.4%20-8.2%20-5.9%20-4.8%20-9.7%20-5%20-22.1%20-1%20-11.1%203.6%20-18.2%207.8%20-20.7%2012%20-1.8%203.1%20-1.8%203.6%20-0.4%208.2%201.5%204.6%201.4%205.3%20-0.3%2011.1%20-1%203.4%20-3.2%208%20-4.7%2010.2%20-1.6%202.2%20-3.9%206.1%20-5.1%208.6%20-1.3%202.5%20-4%207.7%20-6%2011.5%20-6.3%2012%20-15.2%2044.3%20-12.9%2047.1%201.3%201.6%20-0.1%207.4%20-1.8%207.4%20-0.8%200%20-2.5%200.7%20-3.7%201.5%20-2.2%201.4%20-2.4%201.4%20-4%20-1%20-3.1%20-4.7%20-5.6%20-2.8%20-5.6%204.4%200%202.2%20-0.6%204.3%20-1.5%205.1%20-0.8%200.7%20-7.3%201.8%20-14.2%202.5%20-7%200.7%20-13.9%201.6%20-15.4%201.9%20-3.9%201%20-4.4%20-1.1%20-1.2%20-5.3%201.5%20-2%203.2%20-3.9%203.6%20-4%200.4%20-0.2%200.8%20-1%200.8%20-1.7%200%20-0.8%201.2%20-2.9%202.8%20-4.7%201.5%20-1.8%203.3%20-4.2%204%20-5.3%204.6%20-7.7%208%20-13.1%2012.8%20-20.5%206.2%20-9.5%2010.9%20-18.4%2016.6%20-31.3%206.5%20-14.6%205.4%20-22.4%20-6%20-43.5%20-10.4%20-19.2%20-10.5%20-19.4%20-13.6%20-22.3%20-1.6%20-1.5%20-6.9%20-6.4%20-11.7%20-10.9%20-8.6%20-8.1%20-8.8%20-8.2%20-13%20-7.6%20-2.3%200.3%20-4.8%201.3%20-5.4%202.2%20-0.9%201.2%20-2.3%201.5%20-6.2%201.1%20-4.4%20-0.4%20-5.5%20-0.1%20-9.1%202.5%20-2.2%201.6%20-4.9%203%20-5.9%203%20-1%200%20-2.7%200.6%20-3.8%201.3%20-3.8%202.6%20-18.2%206%20-23%205.4%20-2.7%20-0.3%20-4.5%20-0.1%20-4.5%200.5%200%200.6%20-1.3%200.7%20-3.2%200.3%20-1.8%20-0.4%20-7.8%20-0.8%20-13.2%20-1%20-27%20-1%20-35.4%20-1.6%20-37.9%20-2.5%20-1.5%20-0.6%20-3.1%20-0.8%20-3.6%20-0.5%20-0.5%200.3%20-2.8%200.1%20-5.1%20-0.4%20-3.3%20-0.7%20-4.9%20-0.6%20-7.3%200.6%20-6%203%20-6.3%204.1%20-5%2017.1%200.7%206.4%202.8%2017.8%204.7%2025.2%201.9%207.4%204%2017.1%204.7%2021.5%201.6%2010.4%208.5%2030.9%2014.3%2042%200.6%201.1%203.1%205.8%205.5%2010.4%202.5%204.6%204.1%208.6%203.5%208.8%20-0.5%200.2%20-0.8%201.6%20-0.6%203.3%200.4%202.9%200.3%202.9%20-3.1%202.4%20-4%20-0.7%20-4.1%20-0.5%20-5%2010%20-0.3%203.2%20-0.6%206%20-0.8%206.1%20-0.2%200.2%20-7.2%200.4%20-15.7%200.6%20-17.4%200.4%20-18.5%20-0.1%20-12.9%20-5.4%204.7%20-4.5%206.4%20-7.5%208.3%20-14.8%202.1%20-8.1%201.6%20-11.2%20-5%20-32.4%20-7.5%20-23.9%20-14.3%20-42%20-16.5%20-44%20-1.7%20-1.6%20-1.9%20-1.5%20-3.7%201.1%20-2%203%20-2.1%207.7%20-1.1%2028.4%201%2019.9%205.4%2042.9%208.9%2046.6l2.3%202.5%20-2.5%201.9c-1.4%201.1%20-3.8%201.9%20-5.3%201.9%20-6.4%200.1%20-8.2%204.1%20-5.8%2012.6l0.9%203.1%20-6.1%201.1c-8.8%201.6%20-32.6%202.7%20-32.6%201.4z%22%20class%3D%22style0%22/%3E%3C/g%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 100.5%;
  width: 10%;
  min-width: 128px;
  height: 100%;
}

@media(max-width: 768px) {
  .unauth {
    margin: 0 16px;
  }
}
