/*
  * Gecko OS Web App, Gecko OS JS API Library & Gecko OS JS Build System
  *
  * Copyright (C) 2019, Silicon Labs
  * All Rights Reserved.
  *
  * The Gecko OS Web App, Gecko OS JavaScript API and Gecko OS JS build system are
  * provided by Silicon Labs. The combined source code, and all derivatives, are licensed
  * by Silicon Labs SOLELY for use with devices manufactured by Silicon Labs, or hardware
  * authorized by Silicon Labs.
  *
  * THIS SOFTWARE IS PROVIDED BY THE AUTHOR 'AS IS' AND ANY EXPRESS OR IMPLIED
  * WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
  * MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
  * SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
  * EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
  * OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
  * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
  * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
  * IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
  * OF SUCH DAMAGE.
*/

@import "mixins.less";
@import "variables.less";

.gecko-cbx {
  position: relative;
  display: inline-block;
  width: 20px;
  margin: 24px 8px;

  &.small-margin{
    margin-bottom: 8px;
  }

  label {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border-radius: 2px;
    cursor: pointer;
    .box-shadow(inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4););
    .gradient(@checkbox-dark, @checkbox-light);

    &::after {
      filter: alpha(opacity=0);
      opacity: 0;
      content: '';
      position: absolute;
      width: 9px;
      height: 5px;
      background: transparent;
      top: 4px;
      left: 4px;
      border: 3px solid @checkbox-stroke;
      border-top: none;
      border-right: none;
      .transform(rotate(-45deg));
    }

    &:hover {

      &::after {
        filter: alpha(opacity=30);
        opacity: 0.3;
      }
    }
  }

  &.small {

    input {
      opacity: 0;
    }

    label {
      left: 10px;
      top: 4px;
      width: 14px;
      height: 14px;

      &::after {
        top: 3px;
        left: 3px;
        width: 6px;
        height: 3px;
        border-width: 2px;
      }
    }
  }

  &.secondary {

    label {
      .gradient(@checkbox2-dark, @checkbox2-light);
    }
  }
}

.gecko-cbx input[type=checkbox]:checked + label:after {
  filter: alpha(opacity=100);
  opacity: 1;
}

@media(max-width: 768px){
  .gecko-cbx {

    label {

      &:hover {

        &::after {
          filter: alpha(opacity=0);
          opacity: 0;
        }
      }
    }
  }
}
