/*
  * Gecko OS Web App, Gecko OS JS API Library & Gecko OS JS Build System
  *
  * Copyright (C) 2019, Silicon Labs
  * All Rights Reserved.
  *
  * The Gecko OS Web App, Gecko OS JavaScript API and Gecko OS JS build system are
  * provided by Silicon Labs. The combined source code, and all derivatives, are licensed
  * by Silicon Labs SOLELY for use with devices manufactured by Silicon Labs, or hardware
  * authorized by Silicon Labs.
  *
  * THIS SOFTWARE IS PROVIDED BY THE AUTHOR 'AS IS' AND ANY EXPRESS OR IMPLIED
  * WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
  * MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
  * SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
  * EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
  * OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
  * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
  * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
  * IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
  * OF SUCH DAMAGE.
*/

@import "mixins.less";


body .main>div {

  &.loader {
    position: fixed;
    display: block;
    left: 280px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0); //iOS hack

    &.initial {
      left: 280px;
      position: fixed;
    }

    .loading {
      position: absolute;
      display: block;
      width: 48px;
      height: 48px;
      top: 50%;
      left: 50%;
      margin-top: -24px;
      margin-left: -24px;
      animation: 3s cubic-bezier(.55,0,.45,1) 0s infinite forwards turn;
      // .transform(skew(-5deg,-5deg) rotateY(20deg) rotateX(-15deg));

      .path {
        // border: 1px solid #00f;
        height: 24px;
        width: 48px;
        position: absolute;
        transform: translate(24px, 12px);
        transform-origin: 0 50%;

        &:nth-of-type(2) {
          transform: translate(24px, 12px) rotate(120deg);
        }

        &:nth-of-type(3) {
          transform: translate(24px, 12px) rotate(240deg);
        }

        .circle {
          background: #D91E2A;
          width: 24px;
          height: 24px;
          left: 0;
          border-radius: 50%;
          transform: scale(0.33);
          position: absolute;
          animation: 0.5s linear 0s infinite alternate path;
          animation-timing-function: cubic-bezier(.55,0,.45,1);
        }
      }
    }
  }
}

@media(max-width: 768px){

  body .main>div {

    &.loader {
      position: fixed !important;
      left: 0;

      .loading {
        position: fixed !important;
      }
    }
  }
}

@-webkit-keyframes turn {
  0% {.transform(rotate(0deg));}
  33% {.transform(rotate(240deg));}
  67% {.transform(rotate(480deg));}
  100% {.transform(rotate(720deg));}
}

@-moz-keyframes turn {
  0% {.transform(rotate(0deg));}
  33% {.transform(rotate(240deg));}
  67% {.transform(rotate(480deg));}
  100% {.transform(rotate(720deg));}
}

@-o-keyframes turn {
  0% {.transform(rotate(0deg));}
  33% {.transform(rotate(240deg));}
  67% {.transform(rotate(480deg));}
  100% {.transform(rotate(720deg));}
}

@keyframes turn {
  0% {.transform(rotate(0deg));}
  33% {.transform(rotate(240deg));}
  67% {.transform(rotate(480deg));}
  100% {.transform(rotate(720deg));}
}

@-webkit-keyframes path {
  0% {
    left: 0;
    .transform(scale(0.33));
  }
  100% {
     left: ~"calc(100% - 24px)";
     .transform(scale(0.56));
  }
}

@-moz-keyframes path {
  0% {
    left: 0;
    .transform(scale(0.33));
  }
  100% {
     left: ~"calc(100% - 24px)";
     .transform(scale(0.56));
  }
}

@-o-keyframes path {
  0% {
    left: 0;
    .transform(scale(0.33));
  }
  100% {
     left: ~"calc(100% - 24px)";
     .transform(scale(0.56));
  }
}

@keyframes path {
  0% {
    left: 0;
    .transform(scale(0.33));
  }
  100% {
     left: ~"calc(100% - 24px)";
     .transform(scale(0.56));
  }
}

