/*
  * Gecko OS Web App, Gecko OS JS API Library & Gecko OS JS Build System
  *
  * Copyright (C) 2019, Silicon Labs
  * All Rights Reserved.
  *
  * The Gecko OS Web App, Gecko OS JavaScript API and Gecko OS JS build system are
  * provided by Silicon Labs. The combined source code, and all derivatives, are licensed
  * by Silicon Labs SOLELY for use with devices manufactured by Silicon Labs, or hardware
  * authorized by Silicon Labs.
  *
  * THIS SOFTWARE IS PROVIDED BY THE AUTHOR 'AS IS' AND ANY EXPRESS OR IMPLIED
  * WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
  * MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
  * SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
  * EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
  * OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
  * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
  * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
  * IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
  * OF SUCH DAMAGE.
*/

.transition(@transition) {
  -webkit-transition: @transition;
  -moz-transition:    @transition;
  -ms-transition:     @transition;
  -o-transition:      @transition;
  transition:         @transition;
}

.transform(@transform) {
  -webkit-transform: @transform;
  -moz-transform:    @transform;
  -ms-transform:     @transform;
  -o-transform:      @transform;
  transform:         @transform;
}

.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
  -moz-box-shadow:    @shadow;
  -ms-box-shadow:     @shadow;
  -o-box-shadow:      @shadow;
  box-shadow:         @shadow;
}

.gradient(@start, @end) {
  background: @start;
  background: -moz-linear-gradient(top, @start 0%, @end 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@start), color-stop(100%,@end));
  background: -webkit-linear-gradient(top, @start 0%, @end 100%);
  background: -o-linear-gradient(top, @start 0%, @end 100%);
  background: -ms-linear-gradient(top, @start 0%, @end 100%);
  background: linear-gradient(to bottom, @start 0%, @end 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@start', endColorstr='@end',GradientType=0 );
}

.gradient-horizontal(@left, @right) {
  background: -moz-linear-gradient(left, @left 0%, @right 90%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,@left), color-stop(90%,@right));
  background: -webkit-linear-gradient(left, @left 0%, @right 90%);
  background: -o-linear-gradient(left, @left 0%, @right 90%);
  background: -ms-linear-gradient(left, @left 0%, @right 90%);
  background: linear-gradient(to right, @left 0%, @right 90%);
}

.animation(@animation) {
  -webkit-animation:  @animation;
  -moz-animation:     @animation;
  -o-animation:       @animation;
  animation:          @animation;
}

.animation-delay(@delay) {
  -webkit-animation-delay:  @delay;
  -moz-animation-delay:     @delay;
  -o-animation-delay:       @delay;
  animation-delay:          @delay;
}
