/*
  * Gecko OS Web App, Gecko OS JS API Library & Gecko OS JS Build System
  *
  * Copyright (C) 2019, Silicon Labs
  * All Rights Reserved.
  *
  * The Gecko OS Web App, Gecko OS JavaScript API and Gecko OS JS build system are
  * provided by Silicon Labs. The combined source code, and all derivatives, are licensed
  * by Silicon Labs SOLELY for use with devices manufactured by Silicon Labs, or hardware
  * authorized by Silicon Labs.
  *
  * THIS SOFTWARE IS PROVIDED BY THE AUTHOR 'AS IS' AND ANY EXPRESS OR IMPLIED
  * WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
  * MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
  * SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
  * EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
  * OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
  * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
  * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
  * IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
  * OF SUCH DAMAGE.
*/

@import "variables.less";

.signal {
  position: relative;
  width: 30px;
  height: 25px;

  .bar {
    position: absolute;
    bottom: 0;
    width: 5px;
    background: @icon-green;

    &:nth-child(1) {
      height: 10px;
      left: 0px;
    }

    &:nth-child(2) {
      height: 15px;
      left: 8px;
    }

    &:nth-child(3) {
      height: 20px;
      left: 16px;
    }

    &:nth-child(4) {
      height: 25px;
      left: 24px;
    }

    &.empty {
      background: #ddd;
    }
  }

  .rssi {

    &, .connect .networks .network & {
      position: absolute;
      right: 0;
      bottom: -12px;
      left: auto;
      font-size: 8pt;
      line-height: 8pt;
      color: #ccc;
      white-space: nowrap;
    }
  }
}
