/*
  * Gecko OS Web App, Gecko OS JS API Library & Gecko OS JS Build System
  *
  * Copyright (C) 2019, Silicon Labs
  * All Rights Reserved.
  *
  * The Gecko OS Web App, Gecko OS JavaScript API and Gecko OS JS build system are
  * provided by Silicon Labs. The combined source code, and all derivatives, are licensed
  * by Silicon Labs SOLELY for use with devices manufactured by Silicon Labs, or hardware
  * authorized by Silicon Labs.
  *
  * THIS SOFTWARE IS PROVIDED BY THE AUTHOR 'AS IS' AND ANY EXPRESS OR IMPLIED
  * WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
  * MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
  * SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
  * EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
  * OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
  * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
  * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
  * IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
  * OF SUCH DAMAGE.
*/

@import "mixins.less";
@import "variables.less";

.console {

  h1 {
    margin: 16px;
  }

  .hidden {
    display: none !important;
  }

  .terminal {
    position: absolute;
    top: 64px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 16px;
    padding: 8px;
    background: #222;
    color: #eee;
    font-family: monospace;
    word-break: break-all;
    border-radius: 2px;
    .box-shadow(inset 0 0 24px #111);
    overflow-y: scroll;

    ::selection {
      background: #ffcc00;
      color: #222;
    }
  }

  .input-line {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-align: stretch;
    display: box;
    box-orient: horizontal;
    box-align: stretch;
    display: -ms-flexbox;
    -ms-box-orient: horizontal;
    -ms-box-align: stretch;
    display: -webkit-flex;
    display: flex;
    clear: both;

    &> div:nth-child(2) {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -ms-box-flex: 1;
      box-flex: 1;
      width: 100%;
    }
  }

  .prompt {
    white-space: nowrap;
    color: #ffcc00;

    &::selection {
      color: #fff;
    }
  }

  .cmdline, .nextline {
    outline: none;
    background-color: transparent;
    margin: 0;
    width: 100%;
    font: inherit;
    border: none;
    color: inherit;
    padding: 0;
  }

  .ls-files {
    a {
      color: #ffcc00;
    }

    & span:not(.prompt, .cmd) {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media(max-width: 768px){
  .console {

    h1 {
      margin-top: 20px;
    }
  }
}
