/*
  * Gecko OS Web App, Gecko OS JS API Library & Gecko OS JS Build System
  *
  * Copyright (C) 2019, Silicon Labs
  * All Rights Reserved.
  *
  * The Gecko OS Web App, Gecko OS JavaScript API and Gecko OS JS build system are
  * provided by Silicon Labs. The combined source code, and all derivatives, are licensed
  * by Silicon Labs SOLELY for use with devices manufactured by Silicon Labs, or hardware
  * authorized by Silicon Labs.
  *
  * THIS SOFTWARE IS PROVIDED BY THE AUTHOR 'AS IS' AND ANY EXPRESS OR IMPLIED
  * WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
  * MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
  * SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
  * EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
  * OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
  * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
  * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
  * IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
  * OF SUCH DAMAGE.
*/


// colours

@red:   #D91E2A;
//@blue:  #007695;
@blue:  #87131B;
//@green: #A1B92E;
@green: #FFD100;

@icon-green: @green;

@lighter: #EEEEEE;
@light: #D4D4D4;
@medium: #797777;
@dark: #555555;
@darkest: #464646;

// wifi scan icon
@wifi: @green;

// navigation menu
@nav-light: @dark;
@nav-dark: @darkest;
@nav-highlight: @medium;
@nav-shadow: #333333;
@nav-link: WHITE;
@nav-link-disabled: @medium;

// checkbox
@checkbox-dark: @light;
@checkbox-light: #light;
@checkbox-stroke: WHITE;

// checkbox secondary
@checkbox2-dark: #light;
@checkbox2-light: #light;




// icons

.fldr(@color:'000000') {
  @datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.0%22%20id%3D%22Layer_1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2024%2024%22%20enable-background%3D%22new%200%200%2024%2024%22%20xml%3Aspace%3D%22preserve%22%20height%3D%22100px%22%20width%3D%22100px%22%3E%0A%3Cpath%20fill%3D%22%23@{color}%22%20d%3D%22M20%2C6h-9L9%2C4H4C2.9%2C4%2C2%2C4.9%2C2%2C6v12c0%2C1.1%2C0.9%2C2%2C2%2C2h16c1.1%2C0%2C2-0.9%2C2-2V8C22%2C6.9%2C21.1%2C6%2C20%2C6z%22/%3E%0A%3C/svg%3E';
  background-image: url(@datauri);
}

.cross(@color:'000000') {
  @datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.0%22%20id%3D%22Layer_1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2024%2024%22%20enable-background%3D%22new%200%200%2024%2024%22%20xml%3Aspace%3D%22preserve%22%20height%3D%22100px%22%20width%3D%22100px%22%3E%0A%3Cline%20fill%3D%22none%22%20stroke%3D%22%23@{color}%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20x1%3D%2212%22%20y1%3D%2219%22%20x2%3D%2212%22%20y2%3D%225%22/%3E%0A%3Cline%20fill%3D%22none%22%20stroke%3D%22%23@{color}%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20x1%3D%225%22%20y1%3D%2212%22%20x2%3D%2219%22%20y2%3D%2212%22/%3E%0A%3C/svg%3E';
  background-image: url(@datauri);
}

.tick(@color:'000000') {
  @datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.0%22%20id%3D%22Layer_1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2024%2024%22%20enable-background%3D%22new%200%200%2024%2024%22%20xml%3Aspace%3D%22preserve%22%20height%3D%22100px%22%20width%3D%22100px%22%3E%0A%3Cpolyline%20id%3D%22Done__x2014__Displayed_on_the_left_side_of_a_contextual_action_bar__x28_CAB_x29__to_allow_the_user_to_dismiss_it._1_%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22none%22%20stroke%3D%22%23@{color}%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20points%3D%22%20%2020%2C6%209%2C17%204%2C12%20%22/%3E%0A%3C/svg%3E';
  background-image: url(@datauri);
}

.uploading(@color:'000000') {
  @datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.0%22%20id%3D%22Layer_1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2024%2024%22%20enable-background%3D%22new%200%200%2024%2024%22%20xml%3Aspace%3D%22preserve%22%20height%3D%22100px%22%20width%3D%22100px%22%3E%0A%3Cline%20fill%3D%22none%22%20stroke%3D%22%23@{color}%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20x1%3D%222%22%20y1%3D%2221%22%20x2%3D%2222%22%20y2%3D%2221%22/%3E%0A%3Cpolygon%20points%3D%2212%2C2%206%2C10%2010%2C10%2010%2C18%2014%2C18%2014%2C10%2018%2C10%20%22/%3E%0A%3C/svg%3E';
  background-image: url(@datauri);
}

.bin(@color:'000000') {
  @datauri: 'data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.0%22%20id%3D%22Layer_1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2024%2024%22%20enable-background%3D%22new%200%200%2024%2024%22%20xml%3Aspace%3D%22preserve%22%20height%3D%22100px%22%20width%3D%22100px%22%3E%0A%3Cpath%20d%3D%22M18%2C20V7H6v13c0%2C1.1%2C0.9%2C2%2C2%2C2h8C17.1%2C22%2C18%2C21.1%2C18%2C20z%22/%3E%0A%3Crect%20x%3D%225%22%20y%3D%224%22%20width%3D%2214%22%20height%3D%222%22/%3E%0A%3Cpolygon%20points%3D%2217%2C6%2014%2C3%2010%2C3%207%2C6%20%22/%3E%0A%3C/svg%3E';
  background-image: url(@datauri);
}
